* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(245, 240, 235);
    height: 100vh;
    background-color: rgb(36, 34, 32);
}

.leaguesBody {
    padding: 40px;
}
/*
    Leagues page "nav bar"
*/
.leaguesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newLeagueButtonClass {
    background-color: rgb(236, 191, 108);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}
.newLeagueButtonClass:hover {
    opacity: 50%;
}

/*
    Leagues page table, displays all leagues in the application
*/
.table {
    width: 100%;
    border-collapse: collapse;
}
.tableHead {
    width: 100%;
    text-align: left;
    border: 2px solid;
    border-color: gray;
    color:rgb(236, 191, 108);
}
.tableHead th {
    padding: 7px 5px;
}

th, td {
    padding: 5px;

}
.leagueTh {
    color: rgb(236, 191, 108);
    cursor: pointer;
}
.leagueTh:hover {
    opacity: 0.7;
}
.leagueLink {
    color: rgb(236, 191, 108);
    cursor: pointer;
}
.leagueLink:hover {
    opacity: 0.7;
}

.leagueRow {
    width: 100%;
    text-align: left;
    border: 2px solid;
    border-color: gray;
    color: rgb(245, 240, 235);
}
.deleteButton {
    background-color: rgb(236, 191, 108);
    color: rgb(36, 34, 32);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.deleteButton:hover {
    opacity: 0.6;
}

/*
    Leagues page MODAL
*/
.modalContainer {
    position: fixed;
    background-color: rgba(36, 34, 32, 0.0);
    color: rgb(236, 191, 108);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: background-color 0.3s ease;
}

.modalContainer.show {
    pointer-events: auto;
    background-color: rgba(36, 34, 32, 0.5);
}
.modal {
    background-color: rgb(36, 34, 32);
    border: solid 1px rgb(236, 191, 108);
    border-radius: 30px;
    padding: 30px 50px;
    width: 600px;
    height: 600px;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.modal.show {
    opacity: 1;
}
.actionButtons {
    display: flex;

}
.submitButton, .cancelButton {
    border: none;
    border-radius: 30px;
    background-color: rgb(236, 191, 108);
    color: rgb(36, 34, 32);
    cursor: pointer;
    padding: 15px;
    margin: 5px;

}
.input {
    background-color: rgb(36, 34, 32);
    padding: 15px;
    width: 400px;
    color: rgb(245, 240, 235);
    display: flex;
    justify-content: center;
    border: solid 1px rgb(236, 191, 108);
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    text-align: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(1);
      cursor: pointer;
  }

.label{
    font-weight: 700;
    font-size: 130%;
    
}

/*
    Navbar for all pages except leagues
*/

.navBarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0px 10px;
}

.navBar {
    display: flex;
    justify-content: left;
    border-bottom: solid 1px gray;
}

.navBarButton {
    background-color: rgb(36, 34, 32);
    cursor: pointer;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}

.navBarButton:hover {
    opacity: 50%;
}

.navBarButtonLink {
    text-decoration: none;
    color: gray;
}

.aTeams, .aLineup, .aMatchups, .aPlayers {
    color: gray;
    cursor: pointer;
    font-size: 110%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.aTeams:hover, .aLineup:hover, .aMatchups:hover, .aPlayer:hover {
    opacity: 50%;
}

.aTeams.show, .aLineup.show, .aMatchups.show, .aPlayers.show {
    border: solid 1px gray;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 5px;

}